# generated directories and files
*/drv
*/win32
*/win64
*/lin32
*/lin64*
*/and*32
*/and*64
*/mac32
*/mac64
*/macarm64*


*/plugins/*/win32
*/plugins/*/win64
*.dep
*.dll
*.exe
*.idb
*.ilk
*.lib
*.obj
*.so
*.manifest
*.pdb
*.res
moc_*.c*
qrc_*.cxx


# MS VS files
*.ipch
*.user
*.ncb
*.opensdf
*.VC.opendb
*.VC.db
*.sdf
*.suo
*.tlog
*.pro.user*
*.aps

/build
/sources_from_lecture

